.shadow {
    -webkit-filter: drop-shadow( 2px 2px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 1px 2px 3px rgba(0.4, 0.8, 0.6, .9));
    /* Similar syntax to box-shadow */

  }

  /*
  txtindic.setAttributeNS(null,"font-size","12");
  txtindic.setAttributeNS(null,"font-family","Montserrat");
  txtindic.setAttributeNS(null,"font-weight","800");
  
  txtindic.setAttributeNS(null,"fill","white");
  */
  .text{
    font-size:11px;
    font-family:"Montserrat";
    font-weight:800;
    fill:white;
  }
  .black-stroke{
    stroke:black;
   stroke-width:3;

  }
  .svg-size{
    width:260px;
    height:100px;
  }